
.gradient{

  display: flex;
  flex-direction: column;
  background-image: url('../public/img/rectangle.jpg');
  top: 0px;

  }



.block3Icon1{
    background-image: url('../public/img/image3.jpg');
    border-radius: 50%;
    border: 3px solid red;
    height: 50%;
    width: 85px;
    margin: 15px;
}





.block3 {
position: absolute;
height: $block3Height;
top: $block1Height + $block2Height; 
background: linear-gradient(270deg, #1A78C2 0%, #1A78C2 101.06%);
border-radius: 10px;
color: white;
border: 1px solid black;

  .block3Text1{
    position: absolute;
    width: 419px;
    height: 41px;
    left: 300px;
    top: 43px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */
    color: #FFFFFF;

    }


.block3Button1{
    position: absolute;
    width: 145px;
    height: 19px;
    right: 70px;
    top: 50px;

    .button1{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        left: 0px;
    }
}

.block3Button2{
   position: absolute;
   width: 30px;
   height: 19px;
   right: 40px;
   top: 54px;


    .button2{
        position: absolute;
        height: 18px;
        width: 18px;
        background-image: url('../public/img/PenVector.png');
      }

    .button3{
        position: absolute;
        height: 15px;
        width: 15px;
        background-image: url('../public/img/CloseVector.png');
      }
   }
}




.block4{
  position: absolute;
  height: $block4Height;
  top: $block1Height + $block2Height + $block3Height;
  border: 1px solid red;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
    
  .block4Info{
      position:absolute;
      height: $block4InfoHeight;
      border: 4px solid green;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;    


       .block4InfoShow {
          height: $block4InfoHeight / 2 - 2px;
          @include flexibleLeft ();
          border: 1px solid #CAE7FE;
          border-radius: 5px; /* Для современных браузеров */
          background: #FFFFFF;

        .block4InfoFirst{
          @include flexibleCenter ();
          height: 90px; 
          width: 152px; 
          top: 20px; 
          left: 20px;
          border: 3px solid yellow;


              .block4NameVector{
                position: absolute;
                @include putVector();
                background-image: url('../public/img/NameVector.png');
              }

              .block4EmailVector{
                @include putVector();
                background-image: url('../public/img/EmailVector.png');
              }

              .block4PhoneVector{
                @include putVector();
                background-image: url('../public/img/PhoneVector.png');
              }

        }

        .block4InfoSecond{

            .block4Text1{
              width: 141px;
              height: 25px;
              left: 200;
              top: 36px;

              font-family: Open Sans;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 25px;
              color: black;

            }
        }
    }

    }

    .block4Redact{

      position:absolute;
      height: $block4RedactHeight;
      border: 4px solid green;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      border-radius: 10px;    

      .block4RedactHalf{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: $block4RedactHeight / 2 - 2px;
          border: 1px solid #CAE7FE;
          border-radius: 5px; /* Для современных браузеров */
          background: #FFFFFF;

          .block4ThirdPart{
            height: 80%;
            width: 300px;
            border: 2px solid yellow;

            .block4TextField{
              display: flex;
              height: 100%;
              width: 100%;
              justify-content: space-between;
            }


          }
           
      }


    }
}
    

.profile{
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  flex: auto;
  background-image: url('../public/img/rectangle.jpg');
}


