
$block1Height: 75px;
$block2Height: 75px;
$block3Height: 128px;
$block4InfoHeight: 192px;
$blockWidth: 1308px;
$blockRigth: 0px;

@mixin verticalLine ($long) {
    position: absolute;
    width: $long;
    height: 0px;
    right: 195px;
    top: 21px;

    border: 1px solid #FFFFFF;
    transform: rotate(90deg);

}

@mixin blockRedact () {
    display: flex;
    justify-content: left;
    align-items: center;
  }

@mixin flexibleLeft () {
    display: flex;
    justify-content: left;
    align-items: center;
  }

@mixin flexibleCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@import './profile';

/*
body {
  display: flex;
  flex-direction: column;
  flex: auto;
 background-image: url('../public/img/bgBody.jpg');
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*/
